Node-red_flow.json
[
    {
        "id": "6bfdc2c7d8505913",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5c410837bf5865e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe31e3bb58b66bec",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6266594088d9bb86",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f01ec5f6a1fc9bfd",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb8dc1571d8f3d07",
        "type": "arduino-board",
        "device": "COM3"
    },
    {
        "id": "617f9f374d0be35f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "02a98d2312436445",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": ""
    },
    {
        "id": "f7b42ea5a18e264d",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": ""
    },
    {
        "id": "dc7fd6119aa7bd80",
        "type": "arduino in",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "pin": "6",
        "state": "INPUT",
        "arduino": "bb8dc1571d8f3d07",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "f6ab7354e74f7d0c",
                "12a0de20d067f76c"
            ]
        ]
    },
    {
        "id": "cec86a881e61143f",
        "type": "arduino out",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "pin": "10",
        "state": "OUTPUT",
        "arduino": "bb8dc1571d8f3d07",
        "x": 1420,
        "y": 360,
        "wires": []
    },
    {
        "id": "f6ab7354e74f7d0c",
        "type": "debug",
        "z": "6bfdc2c7d8505913",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e4c65a006093a84",
        "type": "aedes broker",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 510,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "546049e081de18e7",
        "type": "mqtt in",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "topic": "portaSerial/Sensor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "617f9f374d0be35f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "e7662adbdf6f70c1"
            ]
        ]
    },
    {
        "id": "d26fd6e294a3846b",
        "type": "mqtt out",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "topic": "portaSerial/Sensor",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "617f9f374d0be35f",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "12a0de20d067f76c",
        "type": "change",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "{\"id\":\"arduinoUNO\",\"pin\":6,\"value\":\"false\"}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "{     \"id\":\"arduinoUNO\",     \"pin\":6,     \"value\":\"true\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "d26fd6e294a3846b"
            ]
        ]
    },
    {
        "id": "e7662adbdf6f70c1",
        "type": "switch",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "property": "payload.pin",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "836ba9656027ae79"
            ]
        ]
    },
    {
        "id": "836ba9656027ae79",
        "type": "switch",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "6184983667a8325f"
            ],
            [
                "c6a062c4636813c6"
            ]
        ]
    },
    {
        "id": "6184983667a8325f",
        "type": "change",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 320,
        "wires": [
            [
                "cec86a881e61143f"
            ]
        ]
    },
    {
        "id": "c6a062c4636813c6",
        "type": "change",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 380,
        "wires": [
            [
                "a5cf7ea31f4802c5",
                "cec86a881e61143f",
                "d7e7615f79330760"
            ]
        ]
    },
    {
        "id": "a5cf7ea31f4802c5",
        "type": "debug",
        "z": "6bfdc2c7d8505913",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 440,
        "wires": []
    },
    {
        "id": "d7e7615f79330760",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "account": "f7b42ea5a18e264d",
        "text": "Miau Miau - Seu gato está comendo.",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1460,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "fcd4d10d7423bde8",
        "type": "arduino out",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "pin": "3",
        "state": "SERVO",
        "arduino": "bb8dc1571d8f3d07",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "9a1cbb36011f9ae2",
        "type": "arduino in",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "pin": "4",
        "state": "INPUT",
        "arduino": "bb8dc1571d8f3d07",
        "x": 490,
        "y": 700,
        "wires": [
            [
                "e210d0b7059ebbce"
            ]
        ]
    },
    {
        "id": "e210d0b7059ebbce",
        "type": "change",
        "z": "6bfdc2c7d8505913",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "180",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 680,
        "wires": [
            [
                "fcd4d10d7423bde8",
                "2aeda9c94b207e26"
            ]
        ]
    },
    {
        "id": "2aeda9c94b207e26",
        "type": "debug",
        "z": "6bfdc2c7d8505913",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 720,
        "wires": []
    }
]